<section class="w-[75%] mx-auto border rounded shadow p-4 my-10 bg-gray-50">
    <h1 class="text-3xl text-green-600 text-center font-light capitalize">{{'forgot.forgotPassword' |translate}}</h1>
    @if (step == 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">

        <div class="mb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgot.email'
                |translate}}</label>
            <input type="email" id="email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (verifyEmail.get('email')?.getError('required')) {
                        <li>email Is Required</li>
                        }
                        @else if (verifyEmail.get('email')?.getError('email')) {
                        <li>Enter Valid Email</li>
                        }

                    </ul>
                </div>
            </div>
            }
            <button class="btn-main">{{'forgot.verifyEmail' |translate}} @if (isSubmit) {
                <span><i class="fas fa-spin fa-spinner"></i></span>}

            </button>
        </div>

    </form>
    }
    @else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)=" verifyCodeSubmit()">


        <div class="mb-2">
            <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgot.resetCode' |translate}}
            </label>
            <input type="password" id="password" formControlName="resetCode"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (verifyCode.get('resetCode')?.getError('required')) {
                        <li>resetcode Is Required</li>
                        }
                        @else if (verifyCode.get('resetCode')?.getError('pattern')) {
                        <li>Enter Valid resetcode</li>
                        }

                    </ul>
                </div>
            </div>
            }
            <button class="btn-main">{{'forgot.verifyCode' |translate}} @if (isSubmit) {<span><i
                        class="fas fa-spin fa-spinner"></i></span>}
            </button>

        </div>




    </form>
    }
    @else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)=" resetPasswordSubmit()">

        <div class="mb-2">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgot.email'
                |translate}} </label>
            <input type="email" id="email" formControlName="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (resetPassword.get('email')?.getError('required')) {
                        <li>email Is Required</li>
                        }
                        @else if (resetPassword.get('email')?.getError('email')) {
                        <li>Enter Valid Email</li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>
        <div class="mb-2">
            <label for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgot.password' |translate}}
            </label>
            <input type="password" id="password" formControlName="newPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (resetPassword.get('newPassword')?.getError('required')) {
                        <li>password Is Required</li>
                        }
                        @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                        <li>Enter Valid Password</li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>

        <button class="btn-main">{{'forgot.resetpassword' |translate}}
            @if (isSubmit) {<span><i class="fas fa-spin fa-spinner"></i></span>}
        </button>



    </form>
    }
</section>