<section class="w-[75%] mx-auto border rounded shadow p-4 my-10 bg-gray-50">
    <h1 class="text-3xl text-green-600 text-center font-light capitalize">{{'checkoutVisa.checkOut' | translate}}</h1>
    <form [formGroup]="checkOutForm" (ngSubmit)="submitForm()">

        <div class="mb-2">
            <label for="details"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkoutVisa.details' |
                translate}}</label>
            <textarea id="details" formControlName="details"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"></textarea>
            @if (checkOutForm.get('details')?.errors && checkOutForm.get('details')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkOutForm.get('details')?.getError('required')) {
                        <li>details Is Required</li>
                        }


                    </ul>
                </div>
            </div>
            }

        </div>
        <div class="mb-2">
            <label for="phone"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkoutVisa.phone' |
                translate}}</label>
            <input type="tel" id="phone" formControlName="phone" title="input"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (checkOutForm.get('phone')?.errors && checkOutForm.get('phone')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkOutForm.get('phone')?.getError('required')) {
                        <li>phone Is Required</li>
                        }
                        @else if (checkOutForm.get('phone')?.getError('pattern')) {
                        <li>Enter Valid phone</li>
                        }

                    </ul>
                </div>
            </div>
            }

        </div>
        <div class="mb-2">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'checkoutVisa.city'
                | translate}}</label>
            <input type="text" id="city" formControlName="city" title="input"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            @if (checkOutForm.get('city')?.errors && checkOutForm.get('city')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-white rounded-lg bg-green-600 dark:bg-gray-800 dark:text-green-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>

                    <ul class="mt-1.5 list-disc list-inside">
                        @if (checkOutForm.get('city')?.getError('required')) {
                        <li>city Is Required</li>
                        }


                    </ul>
                </div>
            </div>
            }

        </div>


        <button [disabled]="checkOutForm.invalid" class="btn-main" type="submit">{{'checkoutVisa.onlinePayment' |
            translate}}</button>

    </form>
</section>